      <div class="message">
        <%= image_tag "cat1.png" %>
       <div class="message">
          <p class="user_name">
            <%= tweet.name %>
          </p>
          <p class="text">
          <%= tweet.text %>
          </p>
        </div>