<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ねこったー</title>
  </head>
  <body>
    <header>
      <h1>ねこったー</h1>
    </header>
    <div class="contents">
      <% @tweets.each do |tweet| %>
        <%= render partial: "tweet", locals: { tweet: tweet } %>
        <% end %>
      </div>
    </div>
  </body>
</html>
